body{
    margin: 40px;
    font-size:18px;
    border: 4px rgb(148, 164, 206);
    border-style: dotted;
    background-color: lightgray;
 }
 main{
    background-image:url(img/fondo.jpg);
    padding: 20px;
 }
 #cabecera{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin:5px;
    border-bottom: 3px solid black;
}
#logo img{
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%; 
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:45px;
    color: rgb(0, 183, 255);
    background-color: white;
    text-shadow: 5px 10px 18px gray;
    
}
#autor p{
    font-weight:bold;
    text-align: end;
    font-family: "Poppins", sans-serif;
}
.resaltado{
    background-color: white;
    padding: 5px;
}
h2{
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
}
#contenido p{
    font-family: "Poppins", sans-serif;
}
#contenido1, #contenido2{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    border: 4px solid #000;
    padding: 20px;
    width: 800px;
}
#contenido1 h3, #contenido2 h3{
        font-size: 16px;
        color: white;
        padding: 10px;
        font-family: "Poppins", sans-serif;
}
.HTML, .CSS, .JS{
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    width: 29%;
    font-family: "Poppins", sans-serif;
}
#contenido1 p, #contenido2 p{
    text-align:left;
}
#contenido1 img{
    width:80px;
    margin-top: 10px;

}
.HTML h3{
    background-color: #e34c26;
}
.CSS h3{
    background-color:rgb(32, 120, 219);
}
.JS h3{
    background-color: rgb(61, 168, 57);
}
.HTML {
    background-color: rgb(255, 247, 246);
}
.CSS{
    background-color: rgb(245, 253, 255);
}
.JS{
    background-color: rgb(238, 250, 233);
}
#casa2 img{
    width:500px;
    height: auto;
    box-shadow: 16px 17px 8px gray;
    border: 1px solid black;
}
#casa2{
    border-bottom: 3px solid black;
    padding: 25px;
    text-align: center;
}
#pie p{
    background-color: rgb(243, 255, 254);
    padding:20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 8px black;
    font-family: "Poppins", sans-serif;
}